#CvContainer {
    position: relative;
    display: block;
    width: 100%;
    left: 0px;
    padding-bottom: 150px;
    height: auto;
}

#jehad,
#marwan,
#malak,
#faisal,
#qais,
#sam {
    position: relative;
    width: 380px;
    height: 200px;
    display: inline-block;
    margin: 90px 0px 20px 150px;
}

#jehadPhoto,
#marwanPhoto,
#malakPhoto,
#faisalPhoto,
#qaisPhoto,
#samPhoto {
    position: absolute;
    left: 100px;
    width: 220px;
    height: 220px;
    border-radius: 15px;
}

#jehadInfo li,
#marwanInfo li,
#malakInfo li,
#faisalInfo li,
#qaisInfo li,
#samInfo li {
    position: static;
    font-size: 30px;
    font-family: 'Overpass', sans-serif;
    font-weight: bolder;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    text-decoration: none;
    list-style: none;
}

.flip-vertical-left:hover {
    -webkit-animation: flip-vertical-left 1.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: flip-vertical-left 1.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    -webkit-transform: translateZ(0px) rotateY(180deg);
}


/* ----------------------------------------------
 * Generated by Animista on 2021-7-11 20:15:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ----------------------------------------------


/**
 * ----------------------------------------
 * animation flip-vertical-left
 * ----------------------------------------
 */

@-webkit-keyframes flip-vertical-left {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}

@keyframes flip-vertical-left {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}