#CvContainer {
    position: absolute;
    display: block;
    width: 840px;
    left: 480px;
    top: 20px;
    background-color: rgba(92, 112, 156, 0.63);
    padding: 25px;
    border-radius: 15px;
}

#jehad,
#marwan,
#malak,
#faisal,
#qais,
#sam {
    position: relative;
    width: 380px;
    height: 200px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.349);
    border-radius: 15px;
}

#jehadPhoto,
#marwanPhoto,
#malakPhoto,
#faisalPhoto,
#qaisPhoto,
#samPhoto {
    position: absolute;
    left: 60px;
}

#jehadInfo li,
#marwanInfo li,
#malakInfo li,
#faisalInfo li,
#qaisInfo li,
#samInfo li {
    position: static;
    font-size: 18px;
    font-family: 'Overpass', sans-serif;
    font-weight: bolder;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    padding-top: 5px;
    padding-left: 50px;
    text-decoration: none;
    list-style: none;
}

.flip-vertical-left:hover {
    -webkit-animation: flip-vertical-left 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: flip-vertical-left 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    -webkit-transform: translateZ(-1px) rotateY(180deg);
}


/* ----------------------------------------------
 * Generated by Animista on 2021-7-11 20:15:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ----------------------------------------------


/**
 * ----------------------------------------
 * animation flip-vertical-left
 * ----------------------------------------
 */

@-webkit-keyframes flip-vertical-left {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}

@keyframes flip-vertical-left {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}