#div{
    z-index: -100;
    margin: 0%;
    position: absolute;
    width: 99.5%;
    height: 900px;
}

#image{
    position: absolute;
    width: 99.5%;
    height: 900px;

}

#div h2{
    z-index: 100;
    position: absolute;
    right: 350px;
    top: 120px;
    font-size: 40px;
   font-family: 'Shadows Into Light', cursive;
   color: rgb(230, 218, 218);
}
#div p{
    z-index: 100; 
     font-family: 'Indie Flower', cursive;
   
    position: absolute;
    width: 700px;
    right: 20px;
    top: 220px;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(242, 247, 247);
    
}