/* /////////* add by malak  ////////// */

body {
    background-color: whitesmoke;
}

main {
    position: relative;
}

#pare1 {
    background-color: #ffffff;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border: solid 1px rgba(0, 0, 0, 0);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    padding: 25px;
    font-size: 30px;
    margin-top: 15%;
    margin-bottom: 12%;
    margin-left: 3%;
    width: 55%;
    text-align: justify;
    font-weight: bold;
}

#par2 {
    clear: both;
    display: table;
}

#m1 {
    font-size: 30px;
    margin-top: 3%;
    margin-bottom: 15%;
    margin-left: 9%;
    width: 35%;
    text-align: justify;
    float: left;
    /* width: 33.33%; */
    padding: 5px;
    background-color: #ffffff;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border: solid 1px rgba(0, 0, 0, 0);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22)
}

#m11 {
    float: right;
    width: 43%;
    /* float: left; */
    /* width: 33.33%; */
    padding: 5px;
    margin-right: 140px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: solid 1px rgba(0, 0, 0, 0);
}

#m2 {
    font-size: 30px;
    margin-top: 3%;
    margin-bottom: 15%;
    margin-right: 140px;
    width: 35%;
    text-align: justify;
    float: right;
    /* width: 33.33%; */
    padding: 5px;
    background-color: #ffffff;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border: solid 1px rgba(0, 0, 0, 0);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#m22 {
    float: left;
    width: 43%;
    /* float: left; */
    /* width: 33.33%; */
    padding: 5px;
    margin-left: 140px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22)
}

#par3 {
    /* content: ""; */
    clear: both;
    display: table;
}

#m3 {
    font-size: 30px;
    margin-top: 3%;
    margin-bottom: 15%;
    margin-left: 9%;
    width: 35%;
    text-align: justify;
    float: left;
    /* width: 33.33%; */
    padding: 5px;
    background-color: #ffffff;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border: solid 1px rgba(0, 0, 0, 0);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#m33 {
    float: right;
    width: 43%;
    /* float: left; */
    /* width: 33.33%; */
    padding: 5px;
    margin-right: 140px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: solid 1px rgba(0, 0, 0, 0);
}

#par4 {
    /* content: ""; */
    clear: both;
    display: table;
}

#m4 {
    font-size: 30px;
    margin-top: 3%;
    margin-bottom: 15%;
    margin-right: 140px;
    width: 35%;
    text-align: justify;
    float: right;
    /* width: 33.33%; */
    padding: 5px;
    background-color: #ffffff;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border: solid 1px rgba(0, 0, 0, 0);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#m44 {
    float: left;
    width: 43%;
    /* float: left; */
    /* width: 33.33%; */
    padding: 5px;
    margin-left: 140px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22)
}

#par5 {
    /* content: ""; */
    clear: both;
    display: table;
}

#m5 {
    font-size: 30px;
    margin-top: 3%;
    margin-bottom: 11%;
    margin-left: 9%;
    width: 35%;
    text-align: justify;
    float: left;
    /* width: 33.33%; */
    padding: 5px;
    background-color: #ffffff;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border: solid 1px rgba(0, 0, 0, 0);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#m55 {
    float: right;
    width: 43%;
    /* float: left; */
    /* width: 33.33%; */
    padding: 5px;
    margin-right: 140px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: solid 1px rgba(0, 0, 0, 0);
}

#par6 {
    /* content: ""; */
    clear: both;
    display: table;
}

#m6 {
    font-size: 30px;
    margin-top: 3%;
    margin-bottom: 15%;
    margin-right: 140px;
    width: 35%;
    text-align: justify;
    float: right;
    /* width: 33.33%; */
    padding: 5px;
    background-color: #ffffff;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border: solid 1px rgba(0, 0, 0, 0);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#m66 {
    float: left;
    width: 43%;
    /* float: left; */
    /* width: 33.33%; */
    padding: 5px;
    margin-left: 140px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22)
}

#par7 {
    /* content: ""; */
    clear: both;
    display: table;
}

#m7 {
    font-size: 30px;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 9%;
    width: 35%;
    text-align: justify;
    float: left;
    /* width: 33.33%; */
    padding: 5px;
    background-color: #ffffff;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border: solid 1px rgba(0, 0, 0, 0);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#m77 {
    float: right;
    width: 43%;
    /* float: left; */
    /* width: 33.33%; */
    padding: 5px;
    margin-right: 140px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: solid 1px rgba(0, 0, 0, 0);
}

#par8 {
    /* content: ""; */
    clear: both;
    display: table;
}

#column1 {
    float: left;
    padding: 30px;
    margin-left: 66px;
    display: block;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22)
}

#column2 {
    float: left;
    padding: 30px;
    margin-left: 66px;
    display: block;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22)
}

#column3 {
    float: left;
    padding: 30px;
    margin-left: 66px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22)
}

#row {
    content: "";
    clear: both;
    display: table;
    position: relative;
    margin: auto;
}

#row:hover .overlay1 {
    height: 400px;
}

.overlay1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008bba96;
    overflow: hidden;
    width: 300px;
    height: 0;
    transition: .5s ease;
    margin-left: 96px;
    margin-bottom: 30px;
}

.text1 {
    /* white-space: nowrap;  */
    color: white;
    font-size: 20px;
    text-align: center;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#row:hover .overlay2 {
    height: 400px;
}

.overlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008bba96;
    overflow: hidden;
    width: 300px;
    height: 0;
    transition: .5s ease;
    margin-left: 40.84%;
    margin-bottom: 30px;
}

.text2 {
    /* white-space: nowrap;  */
    color: white;
    font-size: 20px;
    text-align: center;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#row:hover .overlay3 {
    height: 400px;
}

.overlay3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008bba96;
    overflow: hidden;
    width: 300px;
    height: 0;
    transition: .5s ease;
    margin-left: 74.2%;
    margin-bottom: 30px;
}

.text3 {
    /* white-space: nowrap;  */
    color: white;
    font-size: 20px;
    text-align: center;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#form {
    /* position: relative; */
    /* left: 60px;
  top: 100000px; */
    /* width: 100%; */
    position: relative;
    left: 27%;
    top: 100px;
    width: 50%;
}

legend {
    font-size: 40px;
    margin-bottom: 25px;
    font-weight: bold;
    /* font-size: 40px;
    margin-bottom: 25px;
    text-align: center; */
}

label {
    font-size: 35px;
}

input {
    background: rgba(255, 255, 255, 0);
    font-size: 25px;
    height: 25px;
    border: none;
    border-bottom: 3px solid rgba(112, 114, 117, 0.705);
    border: 3px solid rgba(66, 73, 87, 0.63);
    width: 94%;
    padding: 12px 20px;
    margin: 8px 0;
}

#package {
    background: rgba(255, 255, 255, 0);
    font-size: 25px;
    height: 23%;
    border: none;
    border-bottom: 3px solid rgba(112, 114, 117, 0.705);
    border: 3px solid rgba(66, 73, 87, 0.63);
    width: 101%;
    padding: 12px 20px;
    margin: 8px 0;
}

#vaccine {
    background: rgba(255, 255, 255, 0);
    font-size: 25px;
    height: 23%;
    border: none;
    border-bottom: 3px solid rgba(112, 114, 117, 0.705);
    border: 3px solid rgba(66, 73, 87, 0.63);
    width: 101%;
    padding: 12px 20px;
    margin: 8px 0;
}

fieldset {
    border: rgba(112, 114, 117, 0.705) 6px solid;
    border-radius: 10px;
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 150px;
    /* margin-left: 50%; */
}

button {
    color: #ffffff;
    font-size: 25px;
    background-color: #02161fb6;
    border-radius: 7px;
    height: 70px;
    width: 180px;
    content: "";
    display: table;
    clear: both;
    margin-left: 39%;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all .4s ease-in-out;
}

button:hover {
    background-color: #02161fb6;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .4s ease-in-out;
    box-shadow: 1px 1px #22313dbe, 2px 2px #7c98af, 3px 3px #030d16;
}

 :root {
    --secondary: #8a3aa3;
}

.card {
    position: relative;
    left: 50px;
    font-size: 40px;
    margin: 1em;
    display: none;
    background-color: #f4fffe;
    aspect-ratio: 2/3;
    width: 85%;
    height: 427px;
    overflow: hidden;
    border-radius: 15px;
    /* transition: 0.2s; */
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22)
}

#card1 {
    background-color: #c6c7caf1;
    width: 100%;
    height: 25%;
    aspect-ratio: 3/2;
}

.content {
    padding: 0.7rem;
}

#h1 {
    margin-top: 10px;
    margin-bottom: 17px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 1.4rem;
}

#ticketa {
    font-size: 300px;
    font-weight: bold;
    text-align: justify;
    font-family: "Mandali", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.4rem;
    height: 20px;
    width: 30px;
}


/* .cloud{ 
    width:350px;
    height:120px;
    background:#ECEFF1;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius:100px;
 } */


/* @media screen and (max-width: 480px) {
    html {
      font-size: 90%;
    }
  }
  
  @media screen and (max-width: 350px) {
    html {
      font-size: 80%;
    }
  } */


/* .center
{
  height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width:100%;
  max-width: 22rem;
  min-height: 14rem;
  background-color: #fff;
  border-radius: 0 7rem;
  box-shadow: 0 -4px 4px #3dccc7, 
               0 4px 4px #9381ff;
}
.image{
  width:100%;
  max-width: 22rem;
  min-height: 14rem;
  border-radius: 0 7rem;
}
.card__title{
  color: #9381ff;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0.5rem 0;
  padding-left: 14rem;
}
#ticketa{
   padding-left: 5rem;
  padding-bottom: 1rem;
}
 */


/* <!-- //////////////// end add by malak /////////// --> */