/* ///////////////////////////////////////////// malak css code  ///////////////////////////////////////////  */

body { font-family: 'Overpass', sans-serif;
  /* background-color: rgb(236, 240, 240); */
  /* background-image: linear-gradient(to top, rgba(255,255,255,0.9)10%, rgba(213, 218, 221, 0.205)50%), url(../images/pexels-no-name-66997.jpg); 
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(122, 185, 228)); */
  background-color: whitesmoke;
}

#gif {
  position: relative;
  top: 0;
  left: 0;
  z-index: -100;
  /* max-width: 100%; */
  width: 100%;
  height:780px;
}

/* .container {
  width: 200px;
  height: 200px;
  perspective: 1000px;
  margin: 100px auto 0;
  margin-left: 1000px;
} */

/* .cube {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-image: repeating-linear-gradient(0deg, rgba(70,70,70, 0.2) 0px, rgba(70,70,70, 0.2) 1px,transparent 1px, transparent 21px),repeating-linear-gradient(90deg, rgba(70,70,70, 0.2) 0px, rgba(70,70,70, 0.2) 1px,transparent 1px, transparent 21px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255)); */
/* }  */

/* .top {
  transform: rotateX(90deg) translateZ(100px);
  background-image: url(../images/yeswanth-m-d57A7x85f3w-unsplash.jpg);
  background-size: cover;
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
  background-image: url(../images/filippo-cesarini-giRTcYcN2pM-unsplash.jpg);
  background-size: cover;
}

.right {
  transform: rotateY(90deg) translateZ(100px);
  background-image: url(../images/hisham-zayadnh-2B5lDWbitXE-unsplash.jpg);
  background-size: cover;
}

.left {
  transform: rotateY(-90deg) translateZ(100px);
  background-image: url(../images/mohammad-naser-K0-F4rIB8xU-unsplash.jpg);
  background-size: cover;
}

.front {
  transform: rotateX(0deg) translateZ(100px);
  background-image: url(../images/hisham-zayadnh-pVQrQ44gtm4-unsplash.jpg);
  background-size: cover;
}

.back {
  transform: rotateX(-180deg) translateZ(100px);
  background-image: url(../images/ahmad-qaisieh-KzixLtPfp64-unsplash.jpg);
  background-size: cover;
} */
/* 
@keyframes spin {
  from {
      transform: rotateX(0deg) rotateY(0deg);
  }
  to {
      transform: rotateX(360deg) rotateY(360deg);
  }
}

.cube {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
  animation: spin 18s infinite linear;
} */

#giveus { position: relative;
  font-size: 40px;
  top:30px;
 left:20px;
  width: 80%;
  
}


#feedbackForm {
  position: relative;
  left: 60px;
top: 100px;
width: 50%;

}

legend {
  font-size: 40px;

  margin-bottom: 25px;
}

label {
  font-size: 35px;
}

input {
  background: rgba(255, 255, 255, 0);
  font-size: 25px;
  height: 25px;
  border: none;
  border-bottom: 3px solid rgba(112, 114, 117, 0.705);
  border: 3px solid rgba(66, 73, 87, 0.63);
  width: 94%;
  padding: 12px 20px;
  margin: 8px 0;
}


textarea {
  background: rgba(255, 255, 255, 0);
  font-size: 25px;
  /* border: 3px solid #555; */
  border: none;
  border-bottom: 5px solid rgba(112, 114, 117, 0.705);
}

fieldset {
  border: 6px none rgba(69, 58, 173, 0.733);
  padding-right: 40px;
  padding-left: 40px;
}

button {
  color: #ffffff;
  font-size: 20px;
  background: rgba(255, 255, 255, 0);
  /* border: 1px #000000;  */
  border-radius: 5px;
  background: linear-gradient(to right, rgba(22, 20, 15, 0.877)40%, rgba(4, 76, 112, 0.911));
  /* padding-top: 20px;
padding-left: 16px; */
  height: 55px;
  width: 180px;
  content: "";
  display: table;
  clear: both;
  margin-left: 140px;
  margin-top: 20px;
}

button:hover {
  background-color: #0c7aa531;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 1px 1px #07599c, 2px 2px #7c98af, 3px 3px #53a7ea;
}

/* 
.rw-ui-container {
  margin-left: 10px;
} */

/* .center {
  position: absolute;
  top: 165%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 18px;
} */
#prevfeed{ position: relative;
  top:180px;
margin-bottom: 300px;
}
#prevfeed h2 {
  

 width: 40%;
 margin: auto;
  text-align: center;
  font-size: 35px;
}

/* #feedback{
  position: relative;font-size: 30px;
  text-align:start;text-align: justify;
  text-align: center; line-height: 4;
  border-radius: 15px;
  border:solid 1px black;
  background-color: rgba(33, 58, 53, 0.384);
  width: 85%;
  margin: auto;

} */
#feedback{ position: relative;font-size: 30px;
  text-align:start;text-align: justify;
  text-align: center; line-height: 4;
  border-radius: 15px;
  border:solid 1px black;
  background-color: rgba(33, 58, 53, 0.384);
  width: 85%;
  margin: auto;    height: 500px;    overflow-x: hidden;    overflow-y: auto;           }

/* 
img {
  position: fixed;
} */


/* 
p { 
  font-size: 30px;
  text-align:start;
  height: 140px;
  text-overflow: initial;
  width: 500px;
  text-align: justify;
  text-align: center;  
  margin-left: 40px;
  white-space: pre;
  margin-bottom: 55px;
} */


/* p{
 white-space: pre;

} */


/* marwaaaaaaaaaaaaaaaaaaan css */
/* css for random selector feedbackpage */
#randomfeedsec {
  position: absolute;
  bottom: 20%;
  right: 3%;
  color: rgb(255, 253, 247);
  background-color: rgba(168, 165, 159, 0.473);
  border-top-left-radius: 25px;border-bottom-right-radius: 25px;border:solid 1px black;
  width: 500px;
  height: 400px;
}

#randomparagraph {
  animation: transitioninr .7s;
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
  text-align:start;

  text-overflow: initial;
  
  text-align: justify;
  text-align: center;  
  
  
}

@keyframes transitioninr {
  from {
      opacity: 0;
  }
  to {
      opacity: 100%;
  }
}

#h4 {
  animation: transitioninr .7s;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
  text-align:start;
  text-overflow: initial;
  text-align: justify;
  text-align: center; 
}

@keyframes transitioninr {
  from {
      opacity: 0;
  }
  to {
      opacity: 100%;
  }
}

/* end cssssssssssssssssss for random selector for feedback page */



/* fooooooooooooooooooooooooooooor rendering feedback on the home page */

#mainsec{position: relative; width: 60%;margin: auto;
   ;text-align: center;font-size: xx-large;padding-top: 80px;}

  #feedarrows{text-align: center;font-size: xx-large;margin: 50px;box-shadow: 10px 10px 5px grey; border-radius:15px ;padding-top: 50px;
 background-color:rgba(241, 240, 235, 0.897)}

  
  #feedarrowr{ animation: transitioninr .9s ;text-align: center;color:  rgb(75, 46, 9); padding: 20px;;word-break: break-all;padding-bottom: 120px;width: 65%;margin: auto;font-size: xx-large;font-weight: bolder;}
  @keyframes transitioninr {
    from {opacity: 0; transform: translateX(-50%);}
    to {opacity: 100%; transform: translateX(0px);}
  } 
  #feedarrowl{ animation: transitioninl .9s ;text-align: center;color:  rgb(56, 44, 6); padding: 20px;;word-break: break-all;padding-bottom: 120px;width: 65%;margin: auto;font-size: xx-large;font-weight: bolder;}
  @keyframes transitioninl {
    from {opacity: 0; transform: translatex(50%);}
    to {opacity: 100%; transform: translateX(0px);}
  } 
  #h3{font-size: large;}
  
  /* .pointar:hover{cursor: pointer;} */
  
  #right{opacity: 80%;right: 30%;bottom: 2%;transition: all .2s ease-in-out;transform:scale(1.2);position: absolute; right: 30%;}
  #right:hover{opacity: 100%;transform:scale(1.1);}
  #right:active{opacity: 100%;transform:scale(1)}
  
  #left{opacity: 80%;left:30%;bottom: 2%;transition: all .2s ease-in-out;transform:scale(1.2);position: absolute; right: 60%;}
  #left:hover{opacity: 100%;transform:scale(1.1);}
  #left:active{opacity: 100%;transform:scale(1)}


