
#footer {
    position: relative;
    background-color: rgba(2, 56, 50, 0.548);
    width: 95%;
    height: 200px;
    border-radius: 15px;
  top: 150%;
    margin: auto;
}

#coninfo {
    position: absolute;
    top: 100px;
    left: 15px;
}

#titel {
    position: absolute;
    font-family: 'Overpass', sans-serif;
    font-weight: bolder;
    top: 30px;
    font-size: 24px;
}

#coninfo h4 a {
    font-family: 'Overpass', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 19px;
}

#social {
    position: absolute;
    right: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
    bottom: 5px;
    z-index: 10;
}

#social img {
    width: 35px;
    height: 35px;

}

#logo {
    position: absolute;
    top: 10px;
    right: 50px;
    width: 120px;
    height: 120px;
}

#footer p {
    position: absolute;
    top: 50%;
    left: 41%;
    font-family: 'Overpass', sans-serif;
    font-size: 25px;
}