footer {
    position: relative;
    background-color: rgba(2, 56, 50, 0.548);
    width: 96%;
    height: 180px;
    border-radius: 15px;
    margin: 5% 5%;
    top: 30px;
    left: 2%;
}

.coninfo {
    position: absolute;
    width: 15%;
    height: 100px;
    padding: 40px;
}

.coninfo h2 {
    position: absolute;
    font-family: 'Overpass', sans-serif;
    font-weight: bolder;
    font-size: 24px;
    left: 10%;
}

.coninfo h4 a {
    position: relative;
    font-family: 'Overpass', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 19px;
    top: 30px;
}

.social {
    position: absolute;
    right: 3%;
    bottom: 3%;
}

.social img {
    position: relative;
    width: 25px;
    height: 25px;
}

#bottom-logo {
    position: absolute;
    top: 1%;
    right: 4%;
    width: 120px;
    height: 120px;
}

footer p {
    position: absolute;
    top: 50%;
    left: 41%;
    font-family: 'Overpass', sans-serif;
    font-size: 25px;
}