#footer{
position: relative;
background-color: rgba(95, 100, 145, 0.377);

width: 100%;
height: 200px;
border-radius: 15px;
top: 20px;

}
#coninfo{

position: absolute;
top: 10px;
left: 15px;

}
#coninfo h2{
    font-family: 'Overpass', sans-serif;
}

#coninfo h4 a{
    font-family: 'Overpass', sans-serif;

text-decoration: none;
color: black;


}

#social{
   position: absolute;
   
   right: 15px;
    
    padding-left: 20px;
    padding-bottom: 20px;
    bottom: 5px;

}
#social img{
    width: 35px;
    height: 35px;
}
#logo{
    position: absolute;
    top: 10px;
    right: 50px;
    width: 120px;
    height: 120px;


}
#footer p{
    position: absolute;
    bottom: 10px;
    left: 45%;
    font-family: 'Overpass', sans-serif;
    
}


    

