/*----- Jehad & Qais --------------- The Header --------------------*/

header.hide {
    top: -100px;
}

.logo {
    position: absolute;
    top: 1 0px;
    left: 10px;
    width: 100px;
    height: 100px;
}

.navbar {
    position: absolute;
    top: 30px;
    left: 120px;
}

.navbar ul {
    display: block;
    background-color: rgba(255, 255, 255, 0.349);
    border-radius: 10px;
    padding: 20px;
}

.navbar ul li {
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin-right: -2%;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 27px;
    font-family: 'Overpass', sans-serif;
    color: black;
    font-weight: 900;
    margin-left: 170px;
}