body {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

#header {
    position: fixed;
    height: 300px;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: all .7s ease;
}

#header.hide {
    top: -150px;
}

.logo {
    position: absolute;
    right: 3%;
    width: 100px;
    height: 100px;
    z-index: 100;
}

.navbar {
    position: absolute;
    top: 0px;
    width: 100%;
}

.navbar ul {
    display: block;
    background-color: rgb(253, 246, 246);
    /* border-radius: 10px; */
    padding: 2%;
}

.navbar ul li {
    position: relative;
    display: inline;
    text-decoration: none;
    padding-right: 9%;
    width: 25%;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 27px;
    font-family: 'Overpass', sans-serif;
    color: black;
    font-weight: 900;
    /* margin: 20%; */
}