body {
    width: 100%;
}

#Intro {
    display: block;
}

#homeIntro {
    position: relative;
    top: 0;
    left: 0;
    z-index: -100;
    max-width: 100%;
}

#textContent h1 {
    position: absolute;
    z-index: -100;
    left: 20%;
    top: 50%;
    font-size: 70px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.349);
    padding: 20px;
    border-radius: 10px;
    border: black 1px solid;
    font-family: 'Lobster', cursive;
}

#textContent p {
    position: absolute;
    z-index: -100;
    left: 40%;
    top: 75%;
    font-size: 40px;
    color: rgb(0, 0, 0);
    width: 800px;
    background-color: rgba(255, 255, 255, 0.349);
    padding: 20px;
    border-radius: 10px;
    border: black 1px solid;
    font-family: 'Lobster', cursive;
}



/* The two images code by Faisal */

.adventure {
    position: relative;
    width: 450px;
    height: 500px;
    left: 11%;
    top: 20px;
}

.adventure img {
    display: block;
    object-fit: cover;
    width: 450px;
    height: 500px;
    border-radius: 11px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1.0s ease;
    background-color: whitesmoke;
    border-radius: 11px;
}

.adventure:hover .overlay {
    opacity: 0.8;
}

.text {
    color: black;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    text-align: center;
    padding: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
}
.text a {
    text-decoration: none;
    color: black;
}

.relaxation {
    position: relative;
    width: 450px;
    height: 500px;
    float: right;
    left: -11%;
    top: -480px;
}

.relaxation img {
    display: block;
    object-fit: cover;
    width: 450px;
    height: 500px;
    border-radius: 11px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1.0s ease;
    background-color: whitesmoke;
    border-radius: 11px;
}

.relaxation:hover .overlay {
    opacity: 0.8;
}

.text {
    color: black;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    text-align: center;
    padding: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.text a {
    text-decoration: none;
    color: black;
}


/* The end of the image code */

